.darth-vader-saber {
    width: 100%;
    /* Full width of the viewport */
    max-width: 600px;
    /* Maximum width as needed */
    margin: auto;
    /* Center the container */
    position: relative;
    transform: scale(0.6);
    /* Adjust the scale for smaller size */
    transform-origin: top left;
    /* Maintain alignment */
}

.handle {
    width: 220px;
    height: 40px;
    background-color: #BABABA;
    border-radius: 12px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.handle .shadow {
    width: 220px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom-left-radius: 8px;
}

.tip {
    width: 8px;
    height: 40px;
    background-color: #363636;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.grip {
    width: 80px;
    height: 10px;
    background-color: #212121;
    position: absolute;
}

.grip1 {
    left: 8px;
    top: 0px;
}

.grip2 {
    left: 8px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.grip3 {
    left: 8px;
    bottom: 0px;
}

.center {
    width: 50px;
    height: 40px;
    position: absolute;
    background-color: #212121;
    left: 110px;
    top: 0;
}

.center-bottom {
    width: 40px;
    height: 12px;
    position: absolute;
    background-color: #363636;
    left: 115px;
    bottom: -12px;
}

.center-bottom .screw {
    width: 5px;
    height: 5Px;
    border-radius: 50%;
    background-color: #BABABA;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.cables {

    .hole {
        width: 4px;
        height: 12px;
        background-color: #444444;
        position: absolute;
        top: 20px;
        margin: auto;
        border-radius: 30px;
    }

    .hole1 {
        left: 175px;
    }

    .hole2 {
        left: 185px;
    }

    .cable {
        height: 2px;
        width: 11px;
        background-color: red;
        position: absolute;
        top: 23px;
        margin: auto;
        left: 175px;
    }

    .cable1 {
        top: 24px;
        left: 177px;
    }

    .cable2 {
        top: 26px;
        left: 177px;
        background-color: orange;
    }
}

.guard-tip {
    width: 40px;
    height: 15px;
    background-color: #212121;
    position: absolute;
    top: -5px;
    left: 180px;
}

.guard-rectangle {
    width: 20px;
    height: 45px;
    background-color: #212121;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 210px;

    .shadow {
        width: 20px;
        height: 22.5px;
        background-color: rgba(255, 255, 255, 0.2);
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.guard-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 45px 35px 0 0;
    border-color: #212121 transparent transparent transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 230px;
}

.guard-triangle-shadow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 22.5px 17px 0 0;
    border-color: rgba(255, 255, 255, 0.2) transparent transparent transparent;
    position: absolute;
    bottom: -2px;
    left: 230px;
}

.laser-active {
    box-shadow: 30px 0 30px #FC3030;
    animation: glowNeon 80ms linear infinite alternate-reverse;
}

.laser {
    height: 35px;
    background-color: red;
    border-radius: 12px;
    position: absolute;
    left: 220px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.laser .laser-glow {
    width: 100%;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.96);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.laser .laser-glow-active {
    animation: glow 80ms linear infinite;
    animation-direction: alternate-reverse;
}

.laser-tip {
    height: 35px;
    width: 30px;
    background-color: red;
    position: absolute;
    right: -30px;
    top: 0;
    bottom: 0;
    margin: auto;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.laser-tip .laser-glow {
    width: 80%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

@keyframes glowNeon {
    from {
        box-shadow: 30px 0 30px #FC3030;
    }

    to {
        box-shadow: 30px 0 26px #FC3030;
    }
}

@keyframes glow {
    from {
        background-color: rgba(255, 255, 255, 0.96);
    }

    to {
        background-color: rgba(255, 255, 255, 0.92);
    }
}

@media screen and (min-width: 768px) {
    .darth-vader-saber {
        width: 100%;
        max-width: 600px;
        transform: scale(0.3);
        /* Adjust the scale for a slightly larger size */
    }
}

@media screen and (max-width: 360px) {
    .darth-vader-saber {
        width: 100%;
        max-width: 90%;
        transform: scale(0.3);
        /* Adjust the scale for a slightly larger size */
    }
}