body {
    background: linear-gradient(71deg, #080509, #1a171c, #080509);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20vh; 
}

.display-games-fav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-cover-game {
    width: 80%;
    margin-bottom: 5%;
    padding: 1%;
    cursor: pointer;
    border: 2px solid transparent;
}

.img-cover-game{
    width: 100%;
    height: auto; 
}

.gradient {
    border: 2px solid transparent;
    border-image: linear-gradient(to top, #11FF00, #EE00FF) 1;
    border-image-slice: 1;
}


/* Alek : CSS profil utilisateur */
.userProfilSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12em;
    margin-bottom: 4rem;
}
.userProfilSection img{
    max-width: 50%;
    max-height: 50%;
    border-radius: 50%;
}

.title-underline{
    text-decoration: underline;
    margin-top: 2em;
    margin-bottom: 1em;
}

.featured-posts, .featured-posts article, .featured-posts{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.featured-posts article a{
    text-decoration: underline;
}


.userProfilSection h1, .featured-posts h1{
    font-size: 5em;
}

.featured-posts h2{
    font-size: 4em;
}
.featured-posts h3{
    font-size: 2.5em;
    padding: 1rem 0;
}

.featured-posts img{
    width: 3rem;
}

/* Responsive CSS Tablet */
@media only screen and ((600px <= device-width <=1024px)) {
    body {
        grid-template-columns: repeat(2, 50%);
    }

    .card {
        width: auto;
    }

    .card img {
        width: 200px;
    }

    .display-games-fav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    /* page profil user */
    .userProfilSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0em;
        margin-bottom: 4rem;
    }
    .userProfilSection img{
        max-width: 25%;
        border-radius: 50%;
    }
    
    .title-underline{
        text-decoration: underline;
        margin-top: 2em;
        margin-bottom: 1em;
    }
    
    .featured-posts, .featured-posts article, .featured-posts{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .featured-posts article a{
        text-decoration: underline;
    }
    
    .userProfilSection h1{
        font-size: 3em;
    }

    .featured-posts h2{
        font-size: 2em;
    }
    .featured-posts h3{
        font-size: 1.5em;
    }
}

/* Responsive CSS Desktop */

@media screen and ((width >=1024px)) {

    body {
        margin-bottom: 10vh; 
    }

    .display-games-fav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .card-cover-game {
        width: 20vw;
        margin-bottom: 5vh;
        padding: 1%;
        cursor: pointer;
        border: 2px solid transparent;
    }
    
    .img-cover-game{
        width: 100%;
        height: auto; 
        border-radius: 1vw;
    }

    .gradient {
        border: 2px solid transparent;
        border-image: linear-gradient(to top, #11FF00, #EE00FF) 1;
        border-image-slice: 1;
    }

    /* page profil user */
    .userProfilSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0em;
        margin-bottom: 4rem;
    }
    .userProfilSection img{
        max-width: 15%;
        border-radius: 50%;
    }
    
    .title-underline{
        text-decoration: underline;
        margin-top: 2em;
        margin-bottom: 1em;
    }
    
    .featured-posts, .featured-posts article, .featured-posts{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .featured-posts article a{
        text-decoration: underline;
    }
    
    
    .userProfilSection h1{
        font-size: 2em;
    }

    .featured-posts h2{
        font-size: 1.5em;
    }
    .featured-posts h3{
        font-size: 1.5em;
        padding: 1rem 0;
    }
}