body {
    background: linear-gradient(71deg, #080509, #1a171c, #080509);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20vh; 
}

.display-games-fav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-cover-game {
    width: 80%;
    margin-bottom: 5%;
    padding: 1%;
    cursor: pointer;
    border: 2px solid transparent;
}

.img-cover-game{
    width: 100%;
    height: auto; 
}

.gradient {
    border: 2px solid transparent;
    border-image: linear-gradient(to top, #11FF00, #EE00FF) 1;
    border-image-slice: 1;
}

@media only screen and ((600x <= device-width <=1024px)) {
    body {
        grid-template-columns: repeat(2, 50%);
    }

    .card {
        width: auto;
    }

    .card img {
        width: 200px;
    }

    .display-games-fav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

/* Responsive CSS Desktop */

@media screen and ((width >=1024px)) {

    body {
        margin-bottom: 10vh; 
    }

    .display-games-fav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .card-cover-game {
        width: 20vw;
        margin-bottom: 5vh;
        padding: 1%;
        cursor: pointer;
        border: 2px solid transparent;
    }
    
    .img-cover-game{
        width: 100%;
        height: auto; 
        border-radius: 1vw;
    }

    .gradient {
        border: 2px solid transparent;
        border-image: linear-gradient(to top, #11FF00, #EE00FF) 1;
        border-image-slice: 1;
    }

}












